page-store-detail {
    .bgcolor{
        background-color: coral;
    }

    .textColor{
        color: greenyellow;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        float: right;
    }
}
